<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
	    <add key="WSGI_HANDLER" value ="main.app" />
      <add key="PYTHONPATH" value="c:\inetpub\wwwroot"/>
      <add key="WSGI_LOG" value="c:\app_teste\log\wfastcgi.log"/>
      <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
	</appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
	<system.webServer>
		<handlers>
    <remove name="Python27_via_FastCGI" />
    <remove name="Python34_via_FastCGI" />
			<add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
			scriptProcessor="c:\anaconda\python.exe|C:\anaconda\Lib\site-packages\wfastcgi.py"
        resourceType="Unspecified" requireAccess="Script"/>
		</handlers>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
	  <modules runAllManagedModulesForAllRequests="true" />
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions>
            <add input="true" pattern="false" />
          </conditions>
        </rule>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/static/.*" ignoreCase="true" negate="true" />
          </conditions>
          <action type="Rewrite" url="handler.fcgi/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
	</system.webServer>
</configuration>